@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  margin-bottom: 20px;
  position: sticky;
}

.search-bar input {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar input:focus {
  outline: none;
  border-color: #007bff;
}

.request-button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #2e759b;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.request-button:hover {
  background-color: #1c628a;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-item:hover {
  transform: translateY(-5px);
}

.image-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.image-item p {
  margin: 10px 0;
}

.buy-button,
.rent-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button {
  background-color: #2e759b;
}

.rent-button {
  background-color: #27af82;
}

.buy-button:disabled,
.rent-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buy-button:hover,
.rent-button:hover {
  background-color: #1c628a;
}
